:root {
  --background-color: hsl(202, 86%, 94%);
  --primary-color: hsl(0, 0%, 100%);
  --secondry-color: hsl(61, 70%, 52%);
  --project-text: rgb(68, 66, 66);
  --p-text: rgb(180, 177, 177);
  --input-color: rgb(165, 165, 216);
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: var(--background-color);
  font-family: "Plus Jakarta Sans", sans-serif;
}
/*Typography*/

p {
  font-size: 16px;
  color: var(--project-text);
}

h1 {
  color: var(--project-text);
}

/*Project Container*/

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
  margin-left: -100px;
}

.project-container {
  padding: 20px;
  background-color: var(--primary-color);
  border: none;
  border-radius: 20px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  position: relative;
}

.project {
  display: flex;
  align-items: center;
  gap: 5rem;
  min-width: 500px;
}
.clear-project {
  cursor: pointer;
}

.project-text {
  color: var(--project-text);
}

.project p {
  text-decoration: underline;
}

/*Form*/
.project-input {
  margin-left: 20px 0;
}

.project-input,
.second-input {
  border: 1px solid var(--input-color);
  width: 350px;
  padding: 10px;
  border-radius: 4px;
  flex: 1;
  font-size: 12px;
  position: relative;
}

.Amount-button {
  position: absolute;
  font-size: 16px;
  left: 21px;
  top: 28%;
  margin-top: 2px;
  background-color: var(--background-color);
  text-align: center;
  height: 33px;
  width: 40px;
  border: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  font-weight: 700;
}

/*First Input*/

.input-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  gap: 15px;
}

.first-input {
  position: relative;
}

.input {
  padding: 8px;
  border: 1px solid var(--input-color);
  border-radius: 5px;
  width: 170px;
}

.input:focus {
  border-color: lawngreen;
}
.input-rate {
  margin-right: 50%;
}
.input-button {
  position: absolute;
  left: 0;
  margin-top: 8px;
  margin-left: 2px;
  font-size: 16px;
  border: none;
  background-color: transparent;
}

.input-button-span {
  position: absolute;
  right: 0;
  margin-top: 1px;
  margin-bottom: 2px;
  margin-right: 1px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  background-color: var(--background-color);
  border: none;
  padding: 8px;
  font-weight: 500;
}
.input-3 {
  margin-top: 20px;
}

/*Second-input*/
.second-input {
  display: flex;
  flex-direction: column;
}
.second-input2 {
  margin-top: 5px;
}
.second-input-button {
  margin-top: 20px;
  border: none;
  padding: 10px 40px;
  background-color: var(--secondry-color);
  border-radius: 50px;
  text-align: center;
  font-weight: 700;
}

.Calculator-icon {
  text-align: center;
  vertical-align: middle;
}

/*Section Container*/

.section-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  position: absolute;
  right: 11%;
  top: 9.5%;
}
.section-content {
  padding: 1.4rem;
  border: none;
  border-radius: 20px;
  background-color: hsl(202, 55%, 16%);
  text-align: center;
  color: white;
  border-top-left-radius: 0;
  border-bottom-left-radius: 70px;
}
.section__container-div {
  padding: 5.1rem 2rem;
  display: none;
}

h2 {
  font-size: 1rem;
  letter-spacing: 1;
}
.section__container-div p {
  font-size: 0.7rem;
  color: hsl(203, 41%, 72%);
  line-height: 1.5;
}

/*Section paragraph*/

.section__paragraph {
  text-align: left;

  padding-top: 1rem;
  padding-bottom: 1.8rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.section__paragraph h2 {
  padding-bottom: 15px;
}
.section__paragraph-border {
  border-radius: 4px;
  background-color: hsl(201, 76%, 8%);
  font-size: 14px;
}

.section__paragraph-border-2 {
  border-radius: 5px;
  border-top: 3px solid var(--secondry-color);
  margin-top: 30px;
}

.section__paragraph-contents {
  padding: 1rem;
}

.p-text {
  font-size: 12px;
  line-height: 1.4;
  color: var(--p-text);
  margin-top: 20px;
}
#p-text2 {
  color: var(--primary-color);
  font-weight: 700;
}
#repayment {
  font-size: 35px;
  font-weight: 700;
  line-height: 0.5;
  color: var(--secondry-color);
}
hr {
  opacity: 0.5;
  height: 1px;
}
